<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Salary</title>
<style>
body {
	font-family: Arial, sans-serif;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
	text-align: left;
}

tr:hover {
	background-color: #f2f2f2;
}
</style>
</head>

<body>
    <h1>Create Salary</h1>
 <form action="#" th:action="@{/teacher-salary-submissions/generate-salary}" th:object="${teacherSalarySubmission}" method="post">
   
         <input type="hidden" th:field="*{teacher.teacherId}" id="${teacherid}">
        <label>Teacher Name:</label>
        <input type="text" th:field="*{teacher.name}" required/><br/>
        
         <input type="hidden" th:field="*{batch.batchId}" id="${batchid}">
         <label>Batch Name:</label>
        <input type="text" th:field="*{batch.batchName}" required/><br/>
        
        <input type="hidden" th:field="*{course.courseId}" id="${courseid}">
        <label>Course Name:</label>
        <input type="text" th:field="*{course.courseName}" required/><br/>
        
        <label>Amount Paid: <input type="number" step="0.01" th:field="*{amountPaid}" required /></label><br>
        <label>Salary Paid Date: <input type="date" th:field="*{salaryPaidDate}" required /></label><br>
        <button type="submit">Generate Salary</button>
    </form>
</body>




</html>
